<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>ForWit</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
		<meta name="viewport" content="target-densitydpi=device-dpi, width=1000, maximum-scale=1.0, user-scalable=yes">
	
		<link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="{{STATIC_URL}}css/style.css">
		<link rel="stylesheet" href="{{STATIC_URL}}css/index.css">
		<!--[if lt IE 9]><script src="http://html5shiv-printshiv.googlecode.com/svn/trunk/html5shiv-printshiv.js"></script><![endif]-->
	</head>
	
	<body id="index">
	
		<!-- wrapper -->
		<div id="wrapper" class="clearfix">
		
			<!-- container -->
			<div id="container" class="clearfix">
			
				<!-- header -->
				<header class="clearfix">
					<!-- logo -->
					{% include "tmp_sub_content_widget_logo.html" %}
					<!-- search -->
					{% include "tmp_sub_content_widget_search.html" %}
					<!-- links -->
					{% include "tmp_sub_content_widget_headmenu.html" %}
				</header>
				<!-- end header -->

				
				<!-- main -->
				<main>
					<div class="clearfix">
					
						<!-- 科学系ニュース -->
						<section class="content news left heightline">
							<h2><img src="{{STATIC_URL}}img/h_news.png" alt="科学系ニュース" title="" width="188" height="27"></h2>
							<ul class="list">
								<!-- <li><a href="news.html">薬物をテストするための実験用人間器官 「Homo Minutus」開発プ</a></li> -->
								{% for n in news %}
								<li><a href="{{ n.source }}"> {{n.title}} </a></li>
								{% endfor %}
							</ul>
						</section>
					
						<!-- ピックアップ論文 -->
						<section class="content pickup right heightline">
							<h2><img src="{{STATIC_URL}}img/h_pickup.png" alt="ピックアップ論文" title="" width="188" height="27"></h2>
							<ul class="list">
								<!-- <li><a href="thesis.html">上死点近傍燃料噴射による予混合型ディーゼル燃焼の排気改善</a></li> -->
								{% for p in pub %}
								<li><a href="/pub/{{p.id}}">{{ p.title }}</a></li>
								{% endfor %}
							</ul>
						</section>
					
					</div>
					
					<!-- ピックアップ動画 -->
					<section class="content pickup_movie">
						<h2><img src="{{STATIC_URL}}img/h_movie.png" alt="ピックアップ動画" title="" width="188" height="27"></h2>
						<ul class="movie movie_4column clearfix">
							<!-- <li><a href="thesis-movie.html"><dl><dt><img src="img/dummy/img_dummy_movie_001.jpg" alt="ロケットエンジンの燃焼試験" width="214" height="120"></dt><dd>ロケットエンジンの燃焼試験</dd></dl></a></li> -->
							{% for v in video %}
							<li><a href="/pub/{{ v.pub.all.0.id }}"><dl><dt><img src="http://img.youtube.com/vi/{{ v.video_id }}/0.jpg" alt="{{ v.title }}" width="214" height="120"></dt><dd>{{ v.title }}</dd></dl></a></li>
							{% endfor %}
						</ul>
					</section>
					
				</main>
				<!-- end main -->
			
			</div>
			<!-- end container -->
		
		</div>
		<!-- end wrapper -->
		
		<!-- bottom -->
		<div id="bottom" class="clearfix">
		
			<!-- footer -->
            {% include "tmp_sub_content_widget_footer.html" %}
			<!-- footer -->
		
		</div>
		<!-- end bottom -->
		
		<!-- javascript -->
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/jquery.heightLine.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/scrolltopcontrol.js"></script>
		<script>
			$(function(){
				$(".heightline").heightLine();
				$(".movie li").heightLine();
			});
		</script>
	</body>
</html>
