<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>科学系ニュース | ForWit</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
		<meta name="viewport" content="target-densitydpi=device-dpi, width=1000, maximum-scale=1.0, user-scalable=yes">
		
		<link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="{{STATIC_URL}}css/style.css">
		<!--[if lt IE 9]><script src="http://html5shiv-printshiv.googlecode.com/svn/trunk/html5shiv-printshiv.js"></script><![endif]-->
	</head>
	
	<body id="thesis">
	
		<!-- wrapper -->
		<div id="wrapper">
		
			<!-- container -->
			<div id="container">
			
				<!-- header -->
				<header class="clearfix">
					<!-- logo -->
					{% include "tmp_sub_content_widget_logo.html" %}
					<!-- search -->
					{% include "tmp_sub_content_widget_search.html" %}
					<!-- links -->
					{% include "tmp_sub_content_widget_headmenu.html" %}
				</header>
				<!-- end header -->
				
				<!-- content_wrapper_wide -->
				<div class="content_wrapper_wide">
				
					<!-- main -->
					<main class="main_content_wrapper">
						<h1>科学系ニュース</h1>
					
					
					
					
					
					
					</main>
					<!-- end main -->
				
				</div>
				<!-- end content_wrapper_wide -->
			
			</div>
			<!-- end container -->
			
		</div>
		<!-- end wrapper -->
		
		<!-- bottom -->
		<div id="bottom" class="clearfix">
		
			<!-- footer -->
			<footer class="clearfix">
				<p class="link"><a href="about.html">ForWitとは？</a><a href="contact.html">お問い合わせ</a></p>
				<p class="copyright">Copyright &copy; 2014 ForWit All rights reserved.</p>
			</footer>
			<!-- end footer -->
		
		</div>
		<!-- end bottom -->
		
		<!-- javascript -->
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/jquery.heightLine.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/scrolltopcontrol.js"></script>

	</body>
</html>
