<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>論文編集 | ForWit</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
		<meta name="viewport" content="target-densitydpi=device-dpi, width=1000, maximum-scale=1.0, user-scalable=yes">
		
		<link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="{{STATIC_URL}}css/style.css">
		<link rel="stylesheet" href="{{STATIC_URL}}css/edit.css">		<!--[if lt IE 9]><script src="http://html5shiv-printshiv.googlecode.com/svn/trunk/html5shiv-printshiv.js"></script><![endif]-->
	
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/jquery.heightLine.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/scrolltopcontrol.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/ajax_csrf.js"></script>
                <script type="text/javascript" src="{{STATIC_URL}}js/validation/jquery.validate.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/validation/messages_ja.js"></script>
	
	</head>
	
	<body id="edit">
	
		<!-- wrapper -->
		<div id="wrapper">
		
			<!-- container -->
			<div id="container">
			
				<!-- header -->
                    <!-- logo -->
                <header class="clearfix">
                    <!-- logo -->
                    {% include "tmp_sub_content_widget_logo.html" %}
                    <!-- search -->
                    {% include "tmp_sub_content_widget_search.html" %}
                    <!-- links -->
                    {% include "tmp_sub_content_widget_headmenu.html" %}
                </header>
				<!-- end header -->
				
				<!-- content_wrapper_wide -->
				<div class="content_wrapper_wide">
				
				<!-- main -->
			<main class="edit_research">
					<div class="main_content_wrapper_edit">
						
						<!-- 論文 -->
						<section class="paper_edit clearfix">

						<h1>論文編集―タイトル</h1>
								<!--タイトル-->
							<div class="paper_title" title="{{pub.id}}">
								<h2>{{pub.title}}</h2>
							</div>
						<div class="clearfix">
							<!-- 左より -->
							<div class="left">				
								<div class="paper_edit_main">
									<div class="paper_edit_abst">
										<h3>アブストラクト</h3>
										<p>{{abst}}</p>
									</div>									
								</div>								
							</div>
						<!-- end left-->

						<!-- 右寄り-->
							<div class="right">
								<!-- 情報 -->
								<div class="paper_edit_info">
									<dl>
										<dt>投稿学会</dt>
										<dd>{{pub.publisher}}/{{pub.publicationname}}</dd>
										<dt>発行年月日</dt>
										<dd>{{pub.publicationdate}}</dd>							
										<dt>キーワード</dt>
										<dd></dd>	
									</dl>
								</div>
								
								<!-- 著者 -->
								<div class="paper_edit_author">
									<table>
										<thead>
											<tr>
												<th class="author">著者</th>
												<th>所属</th>
											</tr>
										</thead>
										{% for a in authors %}
					                    <tr>
					                        <td>{{a.name}}</td>
					                        <td>{{a.org}}</td>
					                    </tr>
					                    {% endfor%}
									</table>
								</div>
							</div>
						</div>
							<!-- end right -->
						<div class="paper_edit_input">
							<form method="post">{% csrf_token %}
								<fieldset>
									<legend>解説</legend>
									<p>解説を入力頂くと論文ページにその内容が反映されます。</p>
									<textarea class="description" name="exposition">{{pubdetail.description}}</textarea>
								    <button type="submit" name="submit" class="blue_btn">保存する</button>
								</fieldset>

                                            <!-- <button type="reset" name="reset" class="gray_btn">キャンセル</button> -->
                                            
                                </form>

								<fieldset class="attachment">
									<legend>添付資料</legend>
									<p>発表スライド、写真、グラフを添付できます。</p>
										<div id="file_0" class="file_wrapper">
											<div class="input_wrapper">
												<label>1．発表スライド</label>
												<button type="button" name="at_del_0" class="mini_btn gray_btn right">削除</button>
											</div>
											
											<div class="input_wrapper">
												<div class="blue_btn fileUpload">
													<span>ファイルを選択</span>
													<input type="file" name="at_upbtn_0" class="upload" />
												</div>
												<span class="at_filename_0 filename">選択されていません</span>
											</div>
										</div>

										<div id="file_1" class="file_wrapper">
											<div class="input_wrapper">
												<label>2．写真</label>
												<button type="button" name="at_del_0" class="mini_btn gray_btn right">削除</button>
											</div>
											
											<div class="input_wrapper">
												<div class="blue_btn fileUpload">
													<span>ファイルを選択</span>
													<input type="file" name="at_upbtn_0" class="upload" />
												</div>
												<span class="at_filename_0 filename">選択されていません</span>
											</div>
										</div>


										<div id="file_2" class="file_wrapper">
											<div class="input_wrapper">
												<label>3．グラフ</label>
												<button type="button" name="at_del_0" class="mini_btn gray_btn right">削除</button>
											</div>
											
											<div class="input_wrapper">
												<div class="blue_btn fileUpload">
													<span>ファイルを選択</span>
													<input type="file" name="at_upbtn_0" class="upload" />
												</div>
												<span class="at_filename_0 filename">選択されていません</span>
											</div>
										</div>
								</fieldset>

                                <form class="editvideo" method="post">{% csrf_token %}
								<fieldset class="youtube">
									<legend>動画</legend>
									<p>Youtubeの動画をアップロードすることができます。</p>
									<div class="help_wrapper">
										<p>下のスペースにYoutubeの「埋め込みコード」を入力してください。<button type="button" id="help" name="up_movie" class="help">?</button></p>
										<div class="help_area">
											<img src="../img/youtube-ss.jpg" alt="Youtube「埋め込みコード」" width="400" height="348">
										</div>
									</div>

									<div class="input_wrapper">
										<button type="button" name="v_del_0" class="mini_btn gray_btn">削除</button>
										<input type="text" id="uploadMovieURL_0" name="v_name_0"  placeholder="Youtube Video ID" value="{{video.video_id}}"/>
										<button type="button" id="uploadMovie_0" name="v_up_0" class="blue_btn mini_btn reload">更新</button>
										<div id="youtube_area_0" class="youtube_area">ここに動画が表示されます</div>						
									</div>
									<!-- <button type="button" name="add_movie" class="blue_btn mini_btn add_btn">動画を追加</button> -->
								</fieldset>
								</form>
								
								<div id="buttons" class="clearfix">
									<div class="left">
										<!-- <div class="clearfix">
											<button type="reset" name="reset" class="gray_btn">本人から削除</button>
										</div> -->
									</div>
									<!-- <div class="right">
										<div class="clearfix">
											<button type="reset" name="reset" class="gray_btn">キャンセル</button>
											<button type="submit" name="submit" class="blue_btn">保存する</button>
										</div>
									</div> -->
								</div>

						</div>
						</section>
						<!-- end 論文 -->
						</div>	
					</main>
					<!-- end main -->

				
				</div>
				<!-- content_wrapper_wide -->
			
			</div>
			<!-- end container -->
		
		</div>
		<!-- end wrapper -->
		
		<!-- bottom -->
		<div id="bottom" class="clearfix">
		
			<!-- footer -->
			<footer class="clearfix">
				<p class="link"><a href="../about.html">ForWitとは？</a><a href="../contact.html">お問い合わせ</a></p>
				<p class="copyright">Copyright &copy; 2014 ForWit All rights reserved.</p>
			</footer>
			<!-- footer -->
		
		</div>
		<!-- bottom -->
		
		<!-- javascript -->

		
		<!-- for form validation -->

		<script>
			$(function () {
			/*placeholder for IE*/
			  var supportsInputAttribute = function (attr) {
			    var input = document.createElement('input');
			    return attr in input;
			  };
			  if (!supportsInputAttribute('placeholder')) {
			    $('[placeholder]').each(function () {
			      var
			        input = $(this),
			        placeholderText = input.attr('placeholder'),
			        placeholderColor = '#bbb',
			        defaultColor = input.css('color');
			      input.
			        focus(function () {
			          if (input.val() === placeholderText) {
			            input.val('').css('color', defaultColor);
			          }
			        }).
			        blur(function () {
			          if (input.val() === '') {
			            input.val(placeholderText).css('color', placeholderColor);
			          } else if (input.val() === placeholderText) {
			            input.css('color', placeholderColor);
			          }
			        }).
			        blur().
			        parents('form').
			          submit(function () {
			            if (input.val() === placeholderText) {
			              input.val('');
			            }
			          });
			    });
			  }
			  
			  /*upload file*/
			  $(".fileUpload .upload").change(function(){
			  		var fileNameTxt = $(this).val(),
			  			fileName = $(this).parent('div').next('span');
			  		$(fileName).text(fileNameTxt);
			  })

			  /*youtube*/
			  function updateMovie(){
			  	var videoid = $("#uploadMovieURL_0").val();
			  		var movieURL = '<iframe width="480" height="360" src="//www.youtube.com/embed/' + videoid + '?rel=0" frameborder="0" allowfullscreen></iframe>';
			  		alert(movieURL);
			  		/*どんなサイズを指定していても、valueは480×360に変更しています*/
			  		movieURL = movieURL.replace(/width=\"[0-9]+\"/,'width="480"').replace(/height=\"[0-9]+\"/,'height="360"');
			  		$("#uploadMovieURL_0").val(videoid).submit();
			  		
			  		if(videoid){
				  		$(".youtube_area").html(movieURL);
				  	} else{
					  	$(".youtube_area").html("ここに動画が表示されます");
				  	}
				  	//alert($(".paper_title").attr("title"));
				  	edit_video("add_pubvideo", videoid, $(".paper_title").attr("title"));
			  }
			  
			  updateMovie();
			  
			  $("#uploadMovie_0").click(function(){
				 $("#uploadMovieURL_0").submit();
				 updateMovie();
			  })
			  
			  // $(".blue_btn").mousedown(function(){  
			     // alert( $(".description").html() + getCookie('csrftoken'));
// 			     
			  // });
			  
			  
			  
			  /*help*/
			  $(".help").click(function(){$(".help_area").slideToggle();})
			  
			});
		</script>
	</body>
</html>
