<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>動画一覧 | ForWit</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
		<meta name="viewport" content="target-densitydpi=device-dpi, width=1000, maximum-scale=1.0, user-scalable=yes">
		
        <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="{{STATIC_URL}}css/style.css">
        <link rel="stylesheet" href="{{STATIC_URL}}css/list.css">
		<!--[if lt IE 9]><script src="http://html5shiv-printshiv.googlecode.com/svn/trunk/html5shiv-printshiv.js"></script><![endif]-->
	</head>
	
	<body id="list">
	
		<!-- wrapper -->
		<div id="wrapper">
		
			<!-- container -->
			<div id="container">
			
				<!-- header -->
				<header class="clearfix">
				
                    <!-- logo -->
                    {% include "tmp_sub_content_widget_logo.html" %}
                    <!-- search -->
                    {% include "tmp_sub_content_widget_search.html" %}
                    <!-- links -->
                    {% include "tmp_sub_content_widget_headmenu.html" %}
					
				</header>
				<!-- end header -->

				<!-- content_wrapper_wide -->
				<div class="content_wrapper_wide">
					
					<!--menu -->
                    <nav>
                        <ul class="menu clearfix">
                            <li><a href="/memberlist">登録者一覧</a></li>
                            <li class="current"><a href="/movielist">動画一覧</a></li>
                        </ul>
                    </nav>
					
					<!-- main -->
					<main>
					
						<section class="main_content_wrapper">
						
							<div class="clearfix nav_header">
								<h1>動画一覧</h1>
								<p class="count">合計{{video|length}}動画</p>
							</div>
							
							<div class="clearfix">
								<!-- movie search -->
								<!-- <div class="m_search left">
									<form action="" id="m_search-box">
										<div class="clearfix">
											<p>動画検索</p>
											<input type="text" name="mq" size="57" class="input" />
											<button type="submit" name="msa" value="検索" class="trans_btn">検索</button>
										</div>
									</form>
								</div> -->
								
								<!-- navi -->
								<!-- <div class="right list_nav_wrapper">
									<div class="horizontal_nav_wrapper clearfix">
										<ul class="right pagination_prev_next">
											<li><a class="prev" href="#">&lt;前</a></li>
											<li><a class="next" href="#">次&gt;</a></li>
										</ul>
										<ul class="right pagination">
											<li><a href="#">1</a></li>
											<li class="current"><a href="#">4</a></li>
											<li><a href="#">7</a></li>
											<li><a href="#">10</a></li>
										</ul>
									</div>
								</div>
							</div> -->

							<!-- 動画 -->
							<div class="movie movie_4column">
								<ul class="clearfix">
									<!-- <li><a href="thesis-movie.html"><dl><dt><img src="../img/dummy/video1.jpg" alt="" width="224" height="126"></dt><dd>ロケットエンジンの燃焼試験</dd></dl></a></li> -->
									{% for v in video %}
									<li><a href="/pub/{{ v.pub.all.0.id }}"><dl><dt><img src="http://img.youtube.com/vi/{{ v.video_id }}/0.jpg" alt="{{ v.title }}" width="214" height="120"></dt><dd>{{v.title}}</dd></dl></a></li>
									{% endfor %}
								</ul>
							</div>
										
							<!-- <div class="horizontal_nav_wrapper nav_bottom clearfix">
								<ul class="right pagination_prev_next">
									<li><a class="prev" href="#">&lt;前</a></li>
									<li><a class="next" href="#">次&gt;</a></li>
								</ul>
								<ul class="right pagination">
									<li><a href="#">1</a></li>
									<li class="current"><a href="#">4</a></li>
									<li><a href="#">7</a></li>
									<li><a href="#">10</a></li>
								</ul>
							</div> -->

						</section>
						
					</main>
					<!-- end main -->
					</div>
					<!-- end content_wrapper_wide -->
			
			</div>
			<!-- end container -->
		
		</div>
		<!-- end wrapper -->
		
		<!-- bottom -->
		<div id="bottom" class="clearfix">
		
			<!-- footer -->
            {% include "tmp_sub_content_widget_footer.html" %}
			<!-- footer -->
		
		</div>
		<!-- bottom -->
		
		<!-- javascript -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/jquery.heightLine.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/scrolltopcontrol.js"></script>
		<script>
			$(function(){
				$(".movie li").heightLine();
			});
		</script>
	</body>
</html>
