<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ pub.title }} | ForWit</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
		<meta name="viewport" content="target-densitydpi=device-dpi, width=1000, maximum-scale=1.0, user-scalable=yes">
		
        <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="{{STATIC_URL}}css/style.css">
        <link rel="stylesheet" href="{{STATIC_URL}}css/thesis.css">
		
		
		<!-- javascript -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/jquery.heightLine.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/scrolltopcontrol.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/ajax_csrf.js"></script>
		<!--[if lt IE 9]><script src="http://html5shiv-printshiv.googlecode.com/svn/trunk/html5shiv-printshiv.js"></script><![endif]-->
	</head>
	
	<body id="thesis">
	
		<!-- wrapper -->
		<div id="wrapper">
		
			<!-- container -->
			<div id="container">
			
				<!-- header -->
                <header class="clearfix">
                    <!-- logo -->
                    {% include "tmp_sub_content_widget_logo.html" %}
                    <!-- search -->
                    {% include "tmp_sub_content_widget_search.html" %}
                    <!-- links -->
                    {% include "tmp_sub_content_widget_headmenu.html" %}
                </header>
				<!-- end header -->
				
				<!--content_wrapper_wide -->
				<div class="content_wrapper_wide">
				
					<!-- main -->
					<main class="main_content_wrapper">
						
						<!-- 論文 -->
						<section class="thesis clearfix">
							<!-- メモ、本人、戻る　ボタン-->
									<div class="clearfix">
									  <div class="top_btn_area">
									  	    {%if user.is_authenticated %}
									  	        {% ifequal prop "none" %}
											     <span class="left mini_btn blue_btn memo" title="{{pub.pubid}}">メモ</span>
											     <span class="t_mini_btn mine mypub" title="{{user.username}}">本人</span>
											    {% endifequal %}
											    {% ifequal prop "memo" %}
											    <span class="left mini_btn blue_btn memo " title="{{pub.pubid}}">&#10004;</span>
											    <span class="t_mini_btn mine mypub" title="{{user.username}}">本人</span>
											     {% endifequal %}
											     {% ifequal prop "mine" %}
										      	<span class="t_mini_btn mine editpub" title="{{user.username}}">編集</span>
										      	 {% endifequal %}
											
											{%endif%}
									  	<span class="t_mini_btn back" onClick="history.back(); return false;">戻る</span>
										</div>
									</div>
							<!-- タイトル -->
								<div class="t_title">
									<h1>{{ pub.title }}</h1>
								</div>
							<div class="left">
								<div class="t_main">
									<!-- 動画 -->
									{{video_url | safe}}
								</div>

								<!-- 添付資料 -->
								<div class="t_attachment">
									<h2>添付資料</h2>
									<ul class="clearfix">
									<li><a href="#">発表スライド</a></li>
									<li><a href="#">メイン写真</a></li>
									<li><a href="#">メイングラフ</a></li>
									</ul>
								</div>
							</div>		
							
							<div class="right">
							
								<!-- 解説 -->
								<div class="t_exposition">
									<h2>アブストラクト</h2>
									<p>{{ abst }}</p>
								</div>
								<div class="t_exposition">
									<h2>解説</h2>
									{% if pub.publicationdetail %}
									<p>{{pub.publicationdetail.description}}</p>
									{% else %}
									<p>not available now</p>
									{% endif %}
								</div>
								
								<!-- 情報 -->
								<div class="t_info">
									<dl>
										<dt>投稿学会</dt>
										<dd>{{pub.publisher}}/{{pub.publicationname}}</dd>
										<dt>発行年月日</dt>
										<dd>{{pub.publicationdate}}</dd>							
										<dt>キーワード</dt>
										<dd>not available now</dd>	
									</dl>
								</div>

								
								<!-- 著者 -->
								<div class="t_author">
									<table>
										<thead>
											<tr>
												<th class="author">著者</th>
												<th>所属</th>
											</tr>
										</thead>
										{% for a in authors %}
					                    <tr>
					                        <td>{{a.name}}</td>
					                        <td>{{a.org}}</td>
					                    </tr>
					                    {% endfor%}
									</table>
								</div>
								
							</div>
							
						</section>
						<!-- end 論文 -->
					
					</main>
					<!-- end main -->

					<!-- 関連動画 -->
					<section class="sub_content_wrapper related_movie">
					
						<!-- 動画ナビ -->
						<div class="clearfix nav_header">
							<div class="left">
								<h1>関連動画</h1>
								<p class="count">合計 {{ pub.video_set.all | length }} 動画</p>
							</div>
							{% if user.is_authenticated %}
							<!-- <div class="right">
								<div class="horizontal_nav_wrapper clearfix">
									<ul class="right pagination_prev_next">
										<li><a class="prev" href="#">&lt;前</a></li>
										<li><a class="next" href="#">次&gt;</a></li>
									</ul>
									<ul class="right pagination">
										<li><a href="#">1</a></li>
										<li class="current"><a href="#">4</a></li>
										<li><a href="#">7</a></li>
										<li><a href="#">10</a></li>
										<li><a href="#">13</a></li>
									</ul>
								</div>
							</div> -->
							{% endif %}
						</div>
							
						<!-- 動画 -->
						{% if user.is_authenticated %}
						<div class="movie movie_4column">
							<ul class="clearfix">
								<!-- <li><a href="thesis-movie.html"><dl><dt><img src="../img/dummy/video1.jpg" alt="" width="224" height="126"></dt><dd>ロケットエンジンの燃焼試験</dd></dl></a></li> -->
								{%for v in pub.video_set.all%}
								<li><a href="/pub/{{ v.pub.all.0.id }}"><dl><dt><img src="http://img.youtube.com/vi/{{ v.video_id }}/0.jpg" alt="{{ v.title }}" width="224" height="126"></dt><dd>{{ v.title }}</dd></dl></a></li>
								{%endfor%}
							</ul>
						</div>
						{% else %}
						<div class="login_wrapper">
                            <a href="/login/" class="login_btn blue_btn trans_btn">ログイン・新規登録</a>
                            <p>ログインすると関連している動画情報をみることができます</p>
                        </div>  
                        {% endif %}
					</section>
					
					<!-- メモ人数 -->
					<section class="sub_content_wrapper user_checked">
					
						<!-- メモナビ -->
						<div class="clearfix nav_header">
							<div class="left">
								<h1>メモ人数</h1>
								<p class="count">合計 {{pub.likepub_set.all | length}} 名</p>
							</div>
							{% if user.is_authenticated %}
							<!-- <div class="right">
								<div class="horizontal_nav_wrapper clearfix">
									<ul class="right pagination_prev_next">
										<li><a class="prev" href="#">&lt;前</a></li>
										<li><a class="next" href="#">次&gt;</a></li>
									</ul>
									<ul class="right pagination">
										<li><a href="#">1</a></li>
										<li class="current"><a href="#">4</a></li>
										<li><a href="#">7</a></li>
										<li><a href="#">10</a></li>
										<li><a href="#">13</a></li>
									</ul>
								</div>
							</div> -->
							{% endif %}
						</div>
						
						<!-- メモ ユーザー -->
						{% if user.is_authenticated %}
						<div class="user checked_user">
                            <ul class="clearfix">
                                {% for lp in pub.likepub_set.all %}
                                <li><a href="/u/{{lp.user.username}}"><img src="{{ lp.user.userprofile.facephoto.url }}" alt="{{lp.user.last_name}} {{lp.user.first_name}}" width="74" height="74">{{lp.user.last_name}} {{lp.user.first_name}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
						{% else %}
						<div class="login_wrapper">
                            <a href="/login/" class="login_btn blue_btn trans_btn">ログイン・新規登録</a>
                            <p>ログインするとメモしている方の詳細情報をみることができます</p>
                        </div>  
						{% endif %}
						
					</section>
					
				</div>
				<!-- content_wrapper_wide -->
			
			</div>
			<!-- end container -->
			
		</div>
		<!-- end wrapper -->
		
		<!-- bottom -->
		<div id="bottom" class="clearfix">
		
			<!-- footer -->
            {% include "tmp_sub_content_widget_footer.html" %}
			<!-- end footer -->
		
		</div>
		<!-- end bottom -->
		

		<script>
			$(function(){
				// $(".thesis > div").heightLine();
				$(".movie li").heightLine();
				$(".user li").heightLine();
				
				var contentsHeight = $(".t_main").outerHeight() + $(".t_attachment").outerHeight(),
					rightHeight = $(".t_exposition").outerHeight() + $(".t_info").outerHeight() + $(".t_author").outerHeight(),
					authorMargin = contentsHeight - rightHeight;
				// if(authorMargin >= 0){
				// 	$(".t_author").css("margin-top",authorMargin + "px");
				// }
				
				// $(".mini_btn ").mousedown(function(){
					// $(this).toggleClass("mini_btn_clicked");
					// if($(this).html() ==="メモ"){
						// $(this).html("<span>&#10003;</span>");
					// }else{
						// $(this).html("メモ");
					// }
				// });
				$(".memo").mousedown(function(){
					//alert($(this).html());
					var thisTxt = $(this).html();
					if(thisTxt === "メモ"){
                        var pubid = $(this).attr("title");
                        //alert(pubid);
                        edit_memopub( "add", pubid );
                        $(this).html("<span>&#10004;</span>");	
					}else{
                        var pubid = $(this).attr("title");
                        //alert(pubid);
                        edit_memopub( "remove", pubid );
                        $(this).html("メモ");  					   
						
					}
					

				});
				
				
				
				$(".mypub").mousedown(function(){
					//alert($(this).attr("title") + " / " + $(".memo").attr("title"));
					//edit_mypub("add_mypub", $(".memo").attr("title"));
					//$(this).html("<span>&#10003;</span>");
					window.location.href = "/edit_research/{{pub.pubid}}/";
				});
	           $(".editpub").mousedown(function(){
					window.location.href = "/edit_research/{{pub.pubid}}/";
					
				});
			});
		</script>
	</body>
</html>
