<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>研究メモ | ForWit</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
		<meta name="viewport" content="target-densitydpi=device-dpi, width=1000, maximum-scale=1.0, user-scalable=yes">
		
		<link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="{{STATIC_URL}}css/style.css">
		<link rel="stylesheet" href="{{STATIC_URL}}css/user.css">
		<!--[if lt IE 9]><script src="http://html5shiv-printshiv.googlecode.com/svn/trunk/html5shiv-printshiv.js"></script><![endif]-->
	</head>
	
	<body id="memo">
	
		<!-- wrapper -->
		<div id="wrapper">
		
			<!-- container -->
			<div id="container">
			
				<!-- header -->
				<header class="clearfix">
				
					<!-- logo -->
					<a class="logo" href="index.html">
						<img src="{{STATIC_URL}}img/logo.jpg" alt="ForWit" width="83" height="24" />
					</a>
					
					<!-- search -->
					<div class="search">
						<form action="" id="search-box">
							<div>
								<input type="text" name="q" size="57" class="input" />
								<button type="submit" name="sa" value="検索">検索</button>
							</div>
						</form>
					</div>
					
					<!-- links -->
					<p class="link">
						<a href="../memberlist.html">登録者一覧</a>
						<a href="../setting.html">設定変更</a>
						<a href="../../index.html">ログアウト</a>
					</p>
					
				</header>
				<!-- end header -->
				
				<!-- content_wrapper -->
				<div class="content_wrapper clearfix">
				
					<!-- sub content (profile) -->
					{% include "login/account-name/tmp_sub_content_profile.html" %}
					<!-- end sub content (profile) -->
					
					<!-- main_content_wrapper -->
					<section class="main_content_wrapper right">
					
						<!-- menu -->
						<nav>
							<ul class="menu clearfix">
								<li><a href="index.html">ニュース</a></li>
								<li><a href="research.html">研究内容</a></li>
								<li class="current"><a href="memo.html">研究メモ</a></li>
								<li><a href="watch.html">ウォッチ</a></li>
							</ul>
						</nav>
						
						<!-- inner_content_wrapper -->
						<main class="inner_content_wrapper">	
												
							<div class="clearfix">

								<!-- メニュー -->
								<div class="content_menu left">
									<ul class="type">
										<li><a href="memo.html"><span><img src="{{STATIC_URL}}img/icon_ronbun.png" alt="論文" width="11" height="13"></span>論文</a></li>
										<li class="current"><a href="memo-movie.html"><span><img src="{{STATIC_URL}}img/icon_movie.png" alt="動画" width="13" height="13"></span>動画</a></li>
									</ul>
								
									<p class="count">計 {{u.likevideo.video.all | length}} 件</p>
									
									<p><span class="blue_btn edit_btn">編集</span></p>
								</div>
								<!-- end left, content menu-->

								<div class="main_content right">
								
									<!--研究メモ -->
									<section class="r_movie">
									
										<div class="clearfix nav_header">
											<div class="left">
												<h1>研究メモ</h1>
											</div>
											<div class="right">
												<div class="horizontal_nav_wrapper clearfix">
													<ul class="right pagination_prev_next">
														<li><a class="prev" href="#">&lt;前</a></li>
														<li><a class="next" href="#">次&gt;</a></li>
													</ul>
													<ul class="right pagination">
														<li><a href="#">1</a></li>
														<li class="current"><a href="#">4</a></li>
														<li><a href="#">7</a></li>
														<li><a href="#">10</a></li>
													</ul>
												</div>
											</div>
										</div>
										
										<ul class="movie movie_3column_narrow clearfix">
											<!-- <li><a href="../thesis-movie.html"><dl><dt><img src="../../img/dummy/img_dummy_movie_001.jpg" alt="ロケットエンジンの燃焼試験" width="224" height="126"></dt><dd>ロケットエンジンの燃焼試験</dd></dl></a></li> -->
											{% for v in u.likevideo.video.all %}
											<li>
												<a href="/pub/{{ v.pub.all.0.id }}">
												<dl>
													<dt><img src="http://img.youtube.com/vi/{{ v.video_id }}/0.jpg" alt="{{ v.title }}" width="224" height="126">
													</dt>
													<dd>
														{{ v.title }}
													</dd>
												</dl></a>
											</li>
											{% endfor %}
										</ul>
										
										<div class="horizontal_nav_wrapper nav_bottom clearfix">
											<ul class="right pagination_prev_next">
												<li><a class="prev" href="#">&lt;前</a></li>
												<li><a class="next" href="#">次&gt;</a></li>
											</ul>
											<ul class="right pagination">
												<li><a href="#">1</a></li>
												<li class="current"><a href="#">4</a></li>
												<li><a href="#">7</a></li>
												<li><a href="#">10</a></li>
											</ul>
										</div>
										
									</section>
									
								</div>
								<!-- end right -->
							
							</div>
							<!-- end clearfix -->
								
						</main>
						<!-- end inner_content_wrapper -->
						
					</section>
					<!-- end main_content_wrapper-->
					
				</div>
				<!-- end content_wrapper -->
			
			</div>
			<!-- end container -->
		
		</div>
		<!-- end wrapper -->
		
		<!-- bottom -->
		<div id="bottom" class="clearfix">
		
			<!-- footer -->
			<footer class="clearfix">
				<p class="link"><a href="../../about.html">ForWitとは？</a><a href="../../contact.html">お問い合わせ</a></p>
				<p class="copyright">Copyright &copy; 2014 ForWit All rights reserved.</p>
			</footer>
			<!-- footer -->
		
		</div>
		<!-- bottom -->
		
		<!-- javascript -->
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/jquery.heightLine.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/scrolltopcontrol.js"></script>
		<script>
			var defaultPadding = "";

			$(function(){
				$(".movie li").heightLine();
				
				var counter = 0;	
				function justifyHeight(){
					var profileHeight = $(".sub_content_wrapper").outerHeight(),
						mainHeight = $(".main_content_wrapper").outerHeight(),
						differ = profileHeight - mainHeight,
						profilePadding =  parseInt($(".sub_content_wrapper").css("padding-bottom")),
						mainPadding =  parseInt($(".inne_content_wrapper").css("padding-bottom")) + 3; //border + minus margin
	
					if(differ > 0){
						$(".main_content_wrapper").css("padding-bottom", mainPadding + Math.abs(differ) + "px");
					}else{
						$(".sub_content_wrapper").css("padding-bottom", profilePadding + Math.abs(differ) + "px");
					}
					
					counter ++;
					if(counter === 1){
						defaultPadding = parseInt($(".sub_content_wrapper").css("padding-bottom"));
					}
				}
				
				justifyHeight();
				
				var movieHeight = $(".movie li").height();
				$(".edit_btn").mousedown(function(){
					var thisTxt = $(this).text();
					if(thisTxt === "編集"){
						$(this).css("font-size", "11px").text("編集完了");
						$(".movie li").prepend('<span class="delete_btn blue_btn"><span>×</span></span>');
						$(".movie li").height(movieHeight + 18 + "px");
						justifyHeight();
					}else{
						$(this).css("font-size", "14px").text("編集");
						$(".delete_btn").remove();
						$(".movie li").height(movieHeight + "px");
						$(".sub_content_wrapper").css("padding-bottom", defaultPadding + "px");
						justifyHeight();
					}
				});
			});
		</script>
	</body>
</html>
