<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>ウォッチ | ForWit</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
		<meta name="viewport" content="target-densitydpi=device-dpi, width=1000, maximum-scale=1.0, user-scalable=yes">
		
		<link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="{{STATIC_URL}}css/style.css">
		<link rel="stylesheet" href="{{STATIC_URL}}css/user.css">
		<!--[if lt IE 9]><script src="http://html5shiv-printshiv.googlecode.com/svn/trunk/html5shiv-printshiv.js"></script><![endif]-->
	
	   <!-- javascript -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/jquery.heightLine.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/scrolltopcontrol.js"></script>
	   <script type="text/javascript" src="{{STATIC_URL}}js/ajax_csrf.js"></script>
	</head>
	
	<body id="watch" {% ifnotequal u.username user.username %}class="other"{% endifnotequal%}>
	
		<!-- wrapper -->
		<div id="wrapper">
		
			<!-- container -->
			<div id="container">
			
				<!-- header -->
				<header class="clearfix">
					<!-- logo -->
					{% include "tmp_sub_content_widget_logo.html" %}
					<!-- search -->
					{% include "tmp_sub_content_widget_search.html" %}
					<!-- links -->
					{% include "tmp_sub_content_widget_headmenu.html" %}
				</header>
				<!-- end header -->
				
				<!-- content_wrapper -->
				<div class="content_wrapper clearfix">
				
					<!-- sub content (profile) -->
					{% include "login/account-name/tmp_sub_content_profile.html" %}
					<!-- end sub content (profile) -->
					
					<!-- main_content_wrapper -->
					<section class="main_content_wrapper right">
					
						<!-- menu -->
						{% include "login/account-name/tmp_sub_content_userpage_menu.html" %}
						
						<!-- inner_content_wrapper -->
						<main class="inner_content_wrapper">	
												
							<div class="clearfix">
							
								<!-- メニュー -->
								<div class="content_menu left">
									<!-- <ul class="type">
										<li class="current"><a href="watch.html"><span><img src="{{STATIC_URL}}img/icon_watch.png" alt="ウォッチ" width="13" height="13"></span>ウォッチ</a></li>
										<li><a href="watcher.html"><span><img src="{{STATIC_URL}}img/icon_watcher.png" alt="ウォッチャー" width="12" height="13"></span>ウォッチャー</a></li>
									</ul> -->
									{% include "login/account-name/tmp_sub_content_watch_sw_menu.html" %}
								
									<!-- <p class="count">計{{ user.follower.members.all | length }}名</p> -->
									<p class="count">計{{ f|length}}名</p>
									
									{% ifequal u.username user.username %}
									<p><span class="blue_btn edit_btn">編集</span></p>
									{% endifequal %}
								</div>
								<!-- end left, content menu-->

								<div class="main_content right">
								
									<!--ウォッチ -->
									<section>
									
										<div class="clearfix nav_header">
											<div class="left">
												<h1>ウォッチ</h1>
											</div>
											<!-- <div class="right">
												<div class="horizontal_nav_wrapper clearfix">
													<ul class="right pagination_prev_next">
														<li><a class="prev" href="#">&lt;前</a></li>
														<li><a class="next" href="#">次&gt;</a></li>
													</ul>
													<ul class="right pagination">
														<li><a href="#">1</a></li>
														<li class="current"><a href="#">4</a></li>
														<li><a href="#">7</a></li>
														<li><a href="#">10</a></li>
													</ul>
												</div>
											</div> -->
										</div>
															
										<ul class="user clearfix">
											<!-- <li><a href="../other/index.html"><img src="../../img/dummy/user1.jpg" alt="temp" width="74" height="74">中央エンジニア<span class="belong">所属</span></a></li> -->
											{% for w in f %}
											 {% ifequal w.user user %}
											 <li class="self"　title="{{w.user.username}}">
											 {% else %}
											 <li class="other"　title="{{w.user.username}}">
											 {% endifequal %}
												{% ifnotequal u.username user.username %}
												{% ifequal w.user user %}
												<span class="blue_btn  self" title="{{ w.user.username }}">You</span>
												{% else %}
												    {%if w.is_follow %}
												    <span class="blue_btn mini_btn mini_btn_clicked other" title="{{ w.user.username }}">×</span>
												    {% else %}
												    <span class="blue_btn mini_btn other" title="{{ w.user.username }}">ウォッチ</span>
												    {% endif %}
												    
												{% endifequal %}
												{% endifnotequal%}
												
												<a href="/u/{{w.user.username}}">
											{% if w.user.userprofile.facephoto %}
											<img src="{{ w.user.userprofile.facephoto.url }}" alt="{{w.user.last_name}} {{w.user.first_name}}" width="74" height="74">{{w.user.last_name}} {{w.user.first_name}}
											{% else %}
											<img src="dummy.jpg" alt="{{w.user.last_name}} {{w.user.first_name}}" width="74" height="74">{{w.user.last_name}} {{w.user.first_name}}
											{% endif %}
											<span class="belong">{{w.user.userprofile.job}}</span></a></li>
											{% endfor%}
										</ul>
											
										<!-- <div class="horizontal_nav_wrapper nav_bottom clearfix">
											<ul class="right pagination_prev_next">
												<li><a class="prev" href="#">&lt;前</a></li>
												<li><a class="next" href="#">次&gt;</a></li>
											</ul>
											<ul class="right pagination">
												<li><a href="#">1</a></li>
												<li class="current"><a href="#">4</a></li>
												<li><a href="#">7</a></li>
												<li><a href="#">10</a></li>
											</ul>
										</div> -->
										
									</section>
									
								</div>
								<!-- end right -->
							
							</div>
							<!-- end clearfix -->
								
						</main>
						<!-- end inner_content_ wrapper -->
						
					</section>
					<!-- end main_content_wrapper-->
					
				</div>
				<!-- end content_wrapper -->
			
			</div>
			<!-- end container -->
		
		</div>
		<!-- end wrapper -->
		
		<!-- bottom -->
		<div id="bottom" class="clearfix">
		
			<!-- footer -->
			{% include "tmp_sub_content_widget_footer.html" %}
			<!-- footer -->
		
		</div>
		<!-- bottom -->
		

		
		{% ifequal u.username user.username %}
		<script>
			var defaultPadding = "";

			$(function(){
				$(".user li").heightLine();
				
				var counter = 0;	
				function justifyHeight(){
					var profileHeight = $(".sub_content_wrapper").outerHeight(),
						mainHeight = $(".main_content_wrapper").outerHeight(),
						differ = profileHeight - mainHeight,
						profilePadding =  parseInt($(".sub_content_wrapper").css("padding-bottom")),
						mainPadding =  parseInt($(".inne_content_wrapper").css("padding-bottom")) + 3; //border + minus margin
	
					if(differ > 0){
						$(".main_content_wrapper").css("padding-bottom", mainPadding + Math.abs(differ) + "px");
					}else{
						$(".sub_content_wrapper").css("padding-bottom", profilePadding + Math.abs(differ) + "px");
					}
						
					counter ++;
					if(counter === 1){
						defaultPadding = parseInt($(".sub_content_wrapper").css("padding-bottom"));
					}
				}
				
				justifyHeight();

				var userHeight = $(".user li").height();
				$(".edit_btn").mousedown(function(){
					var thisTxt = $(this).text();
					if(thisTxt === "編集"){
						$(this).css("font-size", "11px").text("編集完了");
						$(".user li").prepend('<span class="delete_btn blue_btn"><span>×</span></span>');
						$(".user li").height(userHeight + 18 + "px");
						justifyHeight();
					}else{
						$(this).css("font-size", "14px").text("編集");
						$(".delete_btn").remove();
						$(".user li").height(userHeight + "px");
						$(".sub_content_wrapper").css("padding-bottom", defaultPadding + "px");
						justifyHeight();
					}
					$(".delete_btn").mousedown(function(){
                        //alert($(".delete_btn").parent().attr("title"));
                        edit_watch("remove_watch", $(".delete_btn").parent().attr("title"));
                        $(this).parent().remove();
                     });
				});

				
			});
		</script>
		{%else%}
		<script>
			$(function(){
				$(".user li").heightLine();
				
				var profileHeight = $(".sub_content_wrapper").outerHeight(),
					mainHeight = $(".main_content_wrapper").outerHeight(),
					differ = profileHeight - mainHeight,
					profilePadding =  parseInt($(".sub_content_wrapper").css("padding-bottom")),
					mainPadding =  parseInt($(".inne_content_wrapper").css("padding-bottom")) + 3; //border + minus margin

				if(differ > 0){
					$(".main_content_wrapper").css("padding-bottom", mainPadding + Math.abs(differ) + "px");
				}else{
					$(".sub_content_wrapper").css("padding-bottom", profilePadding + Math.abs(differ) + "px");
				}

				// $(".watch_btn").mousedown(function(){
					// $(this).toggleClass("watch_btn_clicked");
					// var thisTxt = $(this).html();
					// if(thisTxt === "ウォッチ"){
						// $(this).html("<span>×</span>");
					// }else{
						// $(this).html("ウォッチ");
					// }
				// });
				
				$(".mini_btn").mousedown(function(){
					$(this).toggleClass("mini_btn_clicked");
					var thisTxt = $(this).html();
					if(thisTxt === "ウォッチ"){
						//alert( $(this).attr("title"));
						edit_watch("add_watch", $(this).attr("title"));
						$(this).html("<span>×</span>");
					}else{
						//edit_watch("remove_watch", $(this).parent().attr("title"));
						edit_watch("remove_watch", $(this).attr("title"));
						$(this).html("ウォッチ");
					}
				});	
			});		
		</script>
		
		{% endifequal %}
	</body>
</html>
