<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>研究メモ | ForWit</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
		<meta name="viewport" content="target-densitydpi=device-dpi, width=1000, maximum-scale=1.0, user-scalable=yes">
		
		<link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="{{STATIC_URL}}css/style.css">
		<link rel="stylesheet" href="{{STATIC_URL}}css/user.css">
		<!--[if lt IE 9]><script src="http://html5shiv-printshiv.googlecode.com/svn/trunk/html5shiv-printshiv.js"></script><![endif]-->
	</head>
	
	<body id="memo"  {% ifnotequal u.username user.username %}class="other"{% endifnotequal%}>
	
		<!-- wrapper -->
		<div id="wrapper">
		
			<!-- container -->
			<div id="container">
			
				<!-- header -->
				<header class="clearfix">
					<!-- logo -->
					{% include "tmp_sub_content_widget_logo.html" %}
					<!-- search -->
					{% include "tmp_sub_content_widget_search.html" %}
					<!-- links -->
					{% include "tmp_sub_content_widget_headmenu.html" %}
				</header>
				<!-- end header -->
				
				<!-- content_wrapper -->
				<div class="content_wrapper clearfix">
				
					<!-- sub content (profile) -->
					{% include "login/account-name/tmp_sub_content_profile.html" %}
					<!-- end sub content (profile) -->
					
					<!-- main content -->
					<section class="main_content_wrapper right">
					
						<!-- menu -->
						{% include "login/account-name/tmp_sub_content_userpage_menu.html" %}
						
						<!-- inner_content_wrapper -->
						<main class="inner_content_wrapper">	
												
							<div class="clearfix">

								<!-- メニュー -->
								<div class="content_menu left">
									<!-- <ul class="type">
										<li class="current"><a href="memo.html"><span><img src="{{STATIC_URL}}img/icon_ronbun.png" alt="論文" width="11" height="13"></span>論文</a></li>
										<li><a href="memo-movie.html"><span><img src="{{STATIC_URL}}img/icon_movie.png" alt="動画" width="13" height="13"></span>動画</a></li>
									</ul> -->
									{% include "login/account-name/tmp_sub_content_memo_sw_menu.html" %}
									
									<!-- <p class="count">計 {{u.likepub.pub.all | length}} 件</p> -->
									<p class="count">計 {{ puball | length }} 件</p>
									
									{% ifequal u.username user.username %}
									<p><span class="blue_btn edit_btn">編集</span></p>
									{% endifequal %}
									
								</div>
								<!-- end content menu-->

								<div class="main_content right">
								
									<!--研究メモ -->
									<section class="r_list">
									
										<div class="clearfix nav_header">
											<div class="left">
												<h1>研究メモ</h1>
											</div>

											<div class="right">
												<div class="horizontal_nav_wrapper clearfix">
													{% include "pagination.html" %}
												</div>
											</div>
											
										</div>
										
										<table class="table_5rows">
											{% ifnotequal u.username user.username %}
											<colgroup class="col_btn" span="1">
											{% endifnotequal%}
											
											<colgroup class="col_icon" span="1">
											<colgroup class="col_no" span="1">
											<colgroup class="col_title" span="1">
											<colgroup class="col_date" span="1">
											<colgroup class="col_memo" span="1">
											<colgroup class="col_quote" span="1">
											<thead>
												<tr>
													<th>&nbsp;</th>
													{% ifnotequal u.username user.username %}
													<th>&nbsp;</th>
													{% endifnotequal%}
													<th>No.</th>
													<th>タイトル</th>
													<th>発行年月</th>
													<th class="td_right">メモ数</th>
													<th class="refferNum td_right">引用数</th>
												</tr>
											</thead>
											<!-- <tr>
												<td class="td_center"><img src="{{STATIC_URL}}img/icon_ronbun.png" alt="論文" width="11" height="13"></td>
												<td class="td_center">1</td>
												<td><a href="../thesis.html">上死点近傍燃料噴射による予混合型ディーゼル燃焼の排気改善</a></td>
												<td>1989年09月</td>
												<td class="td_right">10<span>メモ</span></td>
												<td class="refferNum td_right">11<span>回</span></td>
											</tr> -->
											{#{% for p in u.likepub.pub.all %}#}
											{% for p in pub %}
											<tr title="{{p.id}}">
												{% ifnotequal u.username user.username %}
												<td class="td_center"><a href="#" class="mini_btn blue_btn">メモ</a></td>
												{% endifnotequal%}
												<td class="td_center">
													{% if p.video_set.all %}
													<img src="{{STATIC_URL}}img/icon_movie.png" alt="動画" width="13" height="13">
													{% else %}
													<img src="{{STATIC_URL}}img/icon_ronbun.png" alt="論文" width="11" height="13">
													{% endif %}
												</td>
												<td class="td_center">{{ forloop.counter }}</td>
												<td><a href="/pub/{{p.id}}">{{ p.title }}</a></td>
												<td>{{ p.publicationdate}} </td>
												<td class="td_right">{{ p.likepub_set.all | length }}<span>メモ</span></td>
												<td class="refferNum td_right">12<span>回</span></td>
											</tr>
											{% endfor %}
										</table>

										<div class="horizontal_nav_wrapper nav_bottom clearfix">
											{% include "pagination.html" %}
										</div>

									</section>
									
								</div>
								<!-- end right -->
							
							</div>
							<!-- end clearfix -->
								
						</main>
						<!-- end inner_content_wrapper -->
						
					</section>
					<!-- end main_content_wrapper-->
					
				</div>
				<!-- end content_wrapper -->
			
			</div>
			<!-- end container -->
		
		</div>
		<!-- end wrapper -->
		
		<!-- bottom -->
		<div id="bottom" class="clearfix">
		
			<!-- footer -->
			<footer class="clearfix">
				<p class="link"><a href="../../about.html">ForWitとは？</a><a href="../../contact.html">お問い合わせ</a></p>
				<p class="copyright">Copyright &copy; 2014 ForWit All rights reserved.</p>
			</footer>
			<!-- footer -->
		
		</div>
		<!-- bottom -->
		
		<!-- javascript -->
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/jquery.heightLine.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/scrolltopcontrol.js"></script>
		<script>
			$(function(){
				var profileHeight = $(".sub_content_wrapper").outerHeight(),
					mainHeight = $(".main_content_wrapper").outerHeight(),
					differ = profileHeight - mainHeight,
					profilePadding =  parseInt($(".sub_content_wrapper").css("padding-bottom")),
					mainPadding =  parseInt($(".inne_content_wrapper").css("padding-bottom")) + 3; //border + minus margin

				if(differ > 0){
					$(".main_content_wrapper").css("padding-bottom", mainPadding + Math.abs(differ) + "px");
				}else{
					$(".sub_content_wrapper").css("padding-bottom", profilePadding + Math.abs(differ) + "px");
				}
				
				{% ifequal u.username user.username %}
				/*edit*/

				
				$(".edit_btn").mousedown(function(){
					var thisTxt = $(this).text(),
						colgroupHTML = '<colgroup class="col_mine" span="1"><colgroup class="col_delete" span="1">',
						tdHTML = '<td class="mine"><span class="mini_btn mine_btn">本人</span></td><td class="delete"><span class="blue_btn mini_btn delete_btn"><span>×</span></span></td>';
					if(thisTxt === "編集"){
						$(this).css("font-size", "11px").text("編集完了");
						$(".r_list table").prepend(colgroupHTML);
						$(".r_list table tr").prepend(tdHTML);
						$(".r_list table thead .delete, .r_list thead .mine").html('');
						$(".r_list table .refferNum").hide();
					}else{
						$(this).css("font-size", "14px").text("編集");
						$(".r_list .col_delete, .r_list .col_mine, .r_list .mine, .r_list .delete").remove();
						$(".r_list table .refferNum").show();
					}
					$(".delete_btn").mousedown(function(){
                        alert("pushed");           
                    });		
				});s
				
				{% else %}
				
				$(".watch_btn").mousedown(function(){
					$(this).toggleClass("watch_btn_clicked");
					var thisTxt = $(this).html();
					if(thisTxt === "ウォッチ"){
						$(this).html("<span>×</span>");
					}else{
						$(this).html("ウォッチ");
					}
				});
				
				$(".mini_btn").mousedown(function(){
					$(this).toggleClass("mini_btn_clicked");
					var thisTxt = $(this).html();
					if(thisTxt === "メモ"){
						$(this).html("<span>×</span>");
					}else{
						$(this).html("メモ");
					}
				});	
				{% endifequal%}
				
			});
		</script>
	</body>
</html>
