<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>研究メモ | ForWit</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
		<meta name="viewport" content="target-densitydpi=device-dpi, width=1000, maximum-scale=1.0, user-scalable=yes">
		
		<link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="{{STATIC_URL}}css/style.css">
		<link rel="stylesheet" href="{{STATIC_URL}}css/user.css">
		      <!-- javascript -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/jquery.heightLine.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/scrolltopcontrol.js"></script>
		 <script type="text/javascript" src="{{STATIC_URL}}js/ajax_csrf.js"></script>
		<!--[if lt IE 9]><script src="http://html5shiv-printshiv.googlecode.com/svn/trunk/html5shiv-printshiv.js"></script><![endif]-->
	</head>
	
	<body id="memo"  {% ifnotequal u.username user.username %}class="other"{% endifnotequal%}>
	
		<!-- wrapper -->
		<div id="wrapper">
		
			<!-- container -->
			<div id="container">
			
				<!-- header -->
				<header class="clearfix">
					<!-- logo -->
					{% include "tmp_sub_content_widget_logo.html" %}
					<!-- search -->
					{% include "tmp_sub_content_widget_search.html" %}
					<!-- links -->
					{% include "tmp_sub_content_widget_headmenu.html" %}
				</header>
				<!-- end header -->
				
				<!-- content_wrapper -->
				<div class="content_wrapper clearfix">
				
					<!-- sub content (profile) -->
					{% include "login/account-name/tmp_sub_content_profile.html" %}
					<!-- end sub content (profile) -->
					
					<!-- main_content_wrapper -->
					<section class="main_content_wrapper right">
					
						<!-- menu -->
						{% include "login/account-name/tmp_sub_content_userpage_menu.html" %}
						
						<!-- inner_content_wrapper -->
						<main class="inner_content_wrapper">	
												
							<div class="clearfix">

								<!-- メニュー -->
								<div class="content_menu left">
									<!-- <ul class="type">
										<li><a href="memo.html"><span><img src="{{STATIC_URL}}img/icon_ronbun.png" alt="論文" width="11" height="13"></span>論文</a></li>
										<li class="current"><a href="memo-movie.html"><span><img src="{{STATIC_URL}}img/icon_movie.png" alt="動画" width="13" height="13"></span>動画</a></li>
									</ul> -->
								{% include "login/account-name/tmp_sub_content_memo_sw_menu.html" %}
								
									<p class="count">計 {{u.likevideo.video.all | length}} 件</p>
									
									{% ifequal u.username user.username %}
									<p><span class="blue_btn edit_btn">編集</span></p>
									{% endifequal %}
								</div>
								<!-- end left, content menu-->

								<div class="main_content right">
								
									<!--研究メモ -->
									<section class="r_movie">
									
										<div class="clearfix nav_header">
											<div class="left">
												<h1>研究メモ</h1>
											</div>
											<!-- <div class="right">
												<div class="horizontal_nav_wrapper clearfix">
													<ul class="right pagination_prev_next">
														<li><a class="prev" href="#">&lt;前</a></li>
														<li><a class="next" href="#">次&gt;</a></li>
													</ul>
													<ul class="right pagination">
														<li><a href="#">1</a></li>
														<li class="current"><a href="#">4</a></li>
														<li><a href="#">7</a></li>
														<li><a href="#">10</a></li>
													</ul>
												</div>
											</div> -->
										</div>
										
										<ul class="movie movie_3column_narrow clearfix">
											<!-- <li><a href="../thesis-movie.html"><dl><dt><img src="../../img/dummy/img_dummy_movie_001.jpg" alt="ロケットエンジンの燃焼試験" width="224" height="126"></dt><dd>ロケットエンジンの燃焼試験</dd></dl></a></li> -->
											{% for v in uvideo %}
											<li title="{{ v.video.video_id }}">
												{% ifnotequal u.username user.username %}
												    {% if v.in_mymemo %}
												     <span class="mini_btn blue_btn mini_btn_clicked">&#10004;</span>
												    {% else %}
												     <span class="mini_btn blue_btn">メモ</span>
												    {% endif %}
												   
												{% endifnotequal %}												
												
												<a href="/pub/{{ v.video.pub.all.0.id }}">
												<dl>
													<dt><img src="http://img.youtube.com/vi/{{ v.video.video_id }}/0.jpg" alt="{{ v.video.title }}" width="224" height="126">
													</dt>
													<dd>
														{{ v.video.title }}
													</dd>
												</dl></a>
											</li>
											{% endfor %}
										</ul>
										
										<!-- <div class="horizontal_nav_wrapper nav_bottom clearfix">
											<ul class="right pagination_prev_next">
												<li><a class="prev" href="#">&lt;前</a></li>
												<li><a class="next" href="#">次&gt;</a></li>
											</ul>
											<ul class="right pagination">
												<li><a href="#">1</a></li>
												<li class="current"><a href="#">4</a></li>
												<li><a href="#">7</a></li>
												<li><a href="#">10</a></li>
											</ul>
										</div> -->
										
									</section>
									
								</div>
								<!-- end right -->
							
							</div>
							<!-- end clearfix -->
								
						</main>
						<!-- end inner_content_wrapper -->
						
					</section>
					<!-- end main_content_wrapper-->
					
				</div>
				<!-- end content_wrapper -->
			
			</div>
			<!-- end container -->
		
		</div>
		<!-- end wrapper -->
		
		<!-- bottom -->
		<div id="bottom" class="clearfix">
		
			<!-- footer -->
			{% include "tmp_sub_content_widget_footer.html" %}
			<!-- footer -->
		
		</div>
		<!-- bottom -->
		

		<script>
			var defaultPadding = "";

			$(function(){
				$(".movie li").heightLine();
				
				var counter = 0;	
				function justifyHeight(){
					var profileHeight = $(".sub_content_wrapper").outerHeight(),
						mainHeight = $(".main_content_wrapper").outerHeight(),
						differ = profileHeight - mainHeight,
						profilePadding =  parseInt($(".sub_content_wrapper").css("padding-bottom")),
						mainPadding =  parseInt($(".inne_content_wrapper").css("padding-bottom")) + 3; //border + minus margin
	
					if(differ > 0){
						$(".main_content_wrapper").css("padding-bottom", mainPadding + Math.abs(differ) + "px");
					}else{
						$(".sub_content_wrapper").css("padding-bottom", profilePadding + Math.abs(differ) + "px");
					}
					
					counter ++;
					if(counter === 1){
						defaultPadding = parseInt($(".sub_content_wrapper").css("padding-bottom"));
					}
				}
				
				justifyHeight();
				
				{% ifequal u.username user.username %}
				
				var movieHeight = $(".movie li").height();
				$(".edit_btn").mousedown(function(){
					var thisTxt = $(this).text();
					if(thisTxt === "編集"){
						$(this).css("font-size", "11px").text("編集完了");
						$(".movie li").prepend('<span class="delete_btn blue_btn"><span>×</span></span>');
						$(".movie li").height(movieHeight + 18 + "px");
						justifyHeight();
					}else{
						$(this).css("font-size", "14px").text("編集");
						$(".delete_btn").remove();
						$(".movie li").height(movieHeight + "px");
						$(".sub_content_wrapper").css("padding-bottom", defaultPadding + "px");
						justifyHeight();
					}
					$(".delete_btn").mousedown(function(){
						alert("pushed");
						edit_memovideo( "remove_videomemo", $(this).parent().attr("title") );
                        $(this).html("メモ");
						$(this).addClass("mini_btn_clicked");
						$(this).parent().remove();
					});
				});
				
				{% else %}
				// $(".watch_btn").mousedown(function(){
					// $(this).toggleClass("watch_btn_clicked");
					// var thisTxt = $(this).html();
					// if(thisTxt === "ウォッチ"){
						// $(this).html("<span>×</span>");
					// }else{
						// $(this).html("ウォッチ");
					// }
				// });
				
				$(".mini_btn").mousedown(function(){
					$(this).toggleClass("mini_btn_clicked");
					var thisTxt = $(this).html();
					if(thisTxt === "メモ"){
						edit_memovideo( "add_videomemo", $(this).parent().attr("title") );
						$(this).html("<span>&#10004;</span>");
					}else{
						edit_memovideo( "remove_videomemo", $(this).parent().attr("title") );
						$(this).html("メモ");
					}
				});					
				{% endifequal %}
			});
		</script>
	</body>
</html>
