/*-----------------------------
top
------------------------------*/
.logo {
  border: none;
  height: auto;
  margin-bottom: 0;
}

h2 {
  background-image: url(../img/header_icons.png);
  background-repeat: no-repeat;
  padding-left: 30px;
}

.news h2 {
  background-position: 0 0;
}

.pickup h2 {
  background-position: 0 -50px;
}

.pickup_movie h2 {
  background-position: 0 -100px;
}

main {
  margin-top: 8px;
}

.content {
  padding: 16px 18px;
  background: #fff;
}

.news,
.pickup {
  width: 442px;
}

.pickup_movie {
  margin-top: 4px;
}
.pickup_movie h2 {
  margin-bottom: 0;
}
.pickup_movie .movie_4column li {
  padding-top: 20px;
}
