/*-----------------------------
検索結果 search-result
------------------------------*/
/*table----------------------*/
#sResult {
  width: 100%;
  /*js sort table*/
}
#sResult .col_icon {
  width: 4%;
}
#sResult .col_dott {
  width: 0.5%;
}
#sResult .col_no {
  width: 3%;
}
#sResult .col_date {
  width: 9%;
}
#sResult .col_memo,
#sResult .col_quote {
  width: 7%;
}

}
#sResult .col_space{
  width: 8%;
}

#sResult .col_btn {
  width: 5%;
}
#sResult th {
  text-align: right;
}

#sResult th.center{
  text-align: center;
}

#sResult td {
  text-align: right;
}
#sResult td a {
  display: block;
  text-align: left;
  margin-left: 0px;
}
#sResult .td_right {
  text-align: right;
}

#sResult .td_center {
  text-align: center;
}

#sResult .td_left {
  text-align: left;
}

#sResult .gray_btn {
  padding: 0.1em 0.5em;
  background: #ddd;
}
#sResult .gray_btn:hover {
  background: #f78000;
  color: #fff;
  box-shadow: none;
}
#sResult .mini_btn {
  text-align: center;
  width: 30px;
}
#sResult th.header {
  background: url(../js/tablesorter/bg.gif) no-repeat right center;
  cursor: pointer;
  padding: 0 0 0 10px;
}
#sResult th.headerSortUp {
  background: #cccccc url(../js/tablesorter/desc.gif) no-repeat right center;
}
#sResult th.headerSortDown {
  background: #cccccc url(../js/tablesorter/asc.gif) no-repeat right center;
}

/*ログイン時の検索結果----------------------*/
/*table----------------------*/
.login #sResult .col_icon {
  width: 3%;
}
