/*---thesis
--------------------------
論文ページ thesis
------------------------------*/
.main_content_wrapper {
  padding-top: 12px;
}


.thesis .left{
  width: 480px;
}
.thesis .right {
  width: 408px;
}


.thesis .mini_btn {
  width: 40px;
  margin-right: 5px;
}
.thesis .t_title h1 {
  margin: 0 0 25px 10px;
  line-height: 1.2;
  border: none;
  color: #222;
  font-family: Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  font-weight: normal;
  font-size: 18px;
  letter-spacing:1px;
  display: inline-block;
  max-width: 920px;
  height: auto;
  min-height: 29px;
}

.t_exposition{
  margin-bottom:20px;
}

.t_exposition h2{
  margin-bottom: 5px;
}

.t_exposition p{
  margin-left: 5px;
}

.t_attachment {
  font-size: 13px;
  padding-top: 20px;
}
.t_attachment h2 {
  font-size: 1em;
  height: 24px;
  margin-bottom: 10px;
}
.t_attachment li a {
  display: block;
  width: 20%;
  float: left;
  margin: 2px 0 0;
  padding: 0 0 0 10px;
  background: url(../img/bg_icon_dot.gif) no-repeat left 7px;
}

.t_info {
  font-size: 13px;
  padding: 20px 0;
}
.t_info dl {
  line-height: 2;
}

.t_info dt {
  float: left;
  display: inline-block;
  width: 6em;
  color: navy;
  font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-weight: bold;
  line-height: 1.6;
}
.t_info dd {
  line-height: 1.6;
  padding-left:6.4em;
  text-indent: -0.4em;
}


.t_info dd:before {
  content: ":";
}

.t_author table {
  font-size: 13px;
  width: 100%;
  margin-top: 30px 
}
.t_author table th {
  font-size: 12px;
}
.t_author table .author {
  width: 90px;
}
.t_author table td a {
  font-size: 13px;
}
.t_author table tr:nth-child(5n) {
  border-bottom: 1px dotted #ccc;
}
.t_author table tr:nth-child(5n) td {
  padding-bottom: 1px;
}
.t_author table tr:nth-child(5n + 1) td {
  padding-top: 1px;
}

.checked_user li {
  width: 74px;
  margin-right: 20px;
}
.checked_user li img {
  width: 74px;
  height: 74px;
}
.checked_user li:nth-child(10n) {
  margin-right: 0;
}

.login_wrapper p {
  display: inline;
}
.login_wrapper .login_btn {
  width: 160px;
  height: 26px;
  line-height: 26px;
  margin-right: 14px;
}
.login_wrapper .login_btn:hover {
  box-shadow: 0 0 3px #f78000;
}



/*上段のボタンエリア*/
.top_btn_area{
  width: 920px;
  height: 20px;
  margin-bottom: 15px; 
}


/*本人、戻るボタンのスタイル*/
.t_mini_btn{
  float:left;
  font-size: 12px;
  padding:0 7px;
  margin-right: 5px;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid black;
  text-decoration: none;
}

/*本人ボタンの色*/
.t_mini_btn.mine{
  background: white;
  color: black;
}

.t_mini_btn.mine:hover{
background: #f78000;
border: 1px solid #f78000;
color: #fff;
text-decoration: none;
}


/*戻るボタンの色*/
.t_mini_btn.back {
  background: #808080;
  color: white;
}

.t_mini_btn.back:hover{
background: #f78000;
border: 1px solid #f78000;z
color: #fff;
text-decoration: none;
}

/*編集の色*/
.t_mini_btn.edit{
  float: right;
  background: white;
  color: black;
  text-decoration: none;
}

.t_mini_btn.edit:hover{
background: #f78000;
border: 1px solid #f78000;
color: #fff;
text-decoration: none;
}