/*-----------------------------
ユーザーページ 
login/account-name
login/other
------------------------------*/
/*profile----------------------*/
.sub_content_wrapper .account-name {
  border: none;
  color: #222;
  font-family: Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  font-weight: normal;
  text-align: center;
  font-size: 15px;
  margin-top: 3px;
  margin-bottom: 0;
  height: auto;
}
.sub_content_wrapper img {
  display: block;
  margin: 0 auto;
}
.sub_content_wrapper .whoami {
  font-size: 12px;
}
.sub_content_wrapper .whoami dt {
  display: block;
  border-bottom: 1px solid #ccc;
  margin: 1em 0 0.3em;
  color: #aaa;
}
.sub_content_wrapper .status {
  font-size: 11px;
  margin: 4em 0 0;
}
.sub_content_wrapper .status dt {
  float: left;
}
.sub_content_wrapper .status dd {
  margin-left: 0.5em;
  display: inline-block;
}

/*content_menu----------------------*/
.content_menu .type {
  font-size: 16px;
  font-weight: bold;
}
.content_menu .type span {
  display: inline-block;
  width: 15px;
}
.content_menu .type li {
  display: block;
  margin-bottom: 0.5em;
}
.content_menu .type li a {
  color: #bbb;
}
.content_menu .type li a img {
  vertical-align: baseline;
  filter: alpha(opacity=30);
  -moz-opacity: 0.3;
  opacity: 0.3;
}
.content_menu .type li a:hover {
  color: #222;
}
.content_menu .type li a:hover img {
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
}
.content_menu .type .current a {
  color: navy;
}
.content_menu .type .current a img {
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
}
.content_menu .edit_btn {
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding: 0;
  margin: 0;
}

/*table----------------------*/
table {
  width: 100%;
  font-size: 12px;
  /*js*/
}
table td a {
  font-size: 14px;
}
table .col_icon {
  width: 3%;
}
table .col_no {
  width: 3%;
}
table .col_date {
  width: 12%;
}
table .col_memo,
table .col_quote {
  width: 7%;
}
table .td_center img {
  vertical-align: middle;
}
table .td_right {
  text-align: right;
}
table .col_mine {
  width: 5%;
}
table .col_delete {
  width: 5%;
}
table .col_quote {
  width: 7%;
}

/*動画リスト(3カラム) ユーザーページ top*/
.movie_3column li {
  width: 240px;
  margin-right: 22px;
  padding-top: 20px;
}
.movie_3column li img {
  width: 240px;
  height: 135px;
}
.movie_3column li:nth-of-type(3n) {
  margin-right: 0;
}

/*動画リスト(3カラム) ユーザーページ*/
.movie_3column_narrow li {
  width: 220px;
  margin-right: 20px;
  padding-top: 20px;
}
.movie_3column_narrow li img {
  width: 220px;
  height: 124px;
}
.movie_3column_narrow li:nth-of-type(3n) {
  margin-right: 0;
}

/*button----------------------*/
/*js*/
.delete_btn {
  width: 40px;
  border-radius: 3px 3px 0 0;
}
.delete_btn span {
  font-size: 15px;
  font-weight: bold;
  line-height: 18px;
}

/*top(mypage)----------------------*/
#top .inner_content_wrapper h1 {
  background-image: url(../img/header_icons.png);
  background-repeat: no-repeat;
  padding-left: 30px;
}
#top .inner_content_wrapper .whatsnew h1 {
  background-position: 0 -150px;
}
#top .inner_content_wrapper .similer h1 {
  background-position: 0 -200px;
}
#top .inner_content_wrapper .news h1 {
  background-position: 0 0;
}
#top .inner_content_wrapper .pickup h1 {
  background-position: 0 -50px;
}
#top .inner_content_wrapper .pickup_movie h1 {
  background-position: 0 -100px;
}
#top .inner_content_wrapper .clearfix .left {
  width: 442px;
}
#top .inner_content_wrapper .clearfix .right {
  width: 300px;
}
#top .inner_content_wrapper .clearfix .right .similer .header_wrapper {
  border-bottom: 1px solid navy;
  height: 29px;
  margin-bottom: 20px;
}
#top .inner_content_wrapper .clearfix .right .similer .header_wrapper h1 {
  display: inline-block;
  border: none;
}
#top .inner_content_wrapper .clearfix .right .similer .header_wrapper .reload {
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  background: url(../img/reload.png) no-repeat 5px -35px;
  width: 30px;
  height: 29px;
  float: right;
}
#top .inner_content_wrapper .clearfix .right .similer .header_wrapper .reload:hover {
  background: url(../img/reload.png) no-repeat 5px 5px;
}
#top .inner_content_wrapper .clearfix .right .similer .user li {
  width: 84px;
  margin: 0 24px 12px 0;
}
#top .inner_content_wrapper .clearfix .right .similer .user li img {
  width: 84px;
  height: 84px;
}
#top .inner_content_wrapper .clearfix .right .similer .user li:nth-child(3n) {
  margin-right: 0;
}
#top .inner_content_wrapper .clearfix section {
  margin-bottom: 20px;
}
#top .inner_content_wrapper .pickup_movie h1 {
  margin-bottom: 0;
}

/*研究内容・研究メモ----------------------*/
#research .content_menu,
#memo .content_menu {
  width: 50px;
}
#research .main_content,
#memo .main_content {
  width: 700px;
}
#research .r_movie .nav_header,
#memo .r_movie .nav_header {
  margin-bottom: 0;
}

/*研究内容----------------------*/
#research .r_content {
  margin-bottom: 40px;
}
#research .r_headline {
  border-bottom: 1px solid navy;
  height: 25px;
  margin-bottom: 0.5em;
}
#research .r_headline h1 {
  display: inline;
  font-size: 17px;
  border: none;
}
#research .r_headline a {
  display: inline-block;
  width: 5em;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 12px;
  line-height: 1.2;
  vertical-align: text-top;
  margin-left: 4px;
}
#research .r_attachment {
  margin: 1em 0;
  font-size: 13px;
}
#research .r_attachment dt {
  float: left;
  width: 5em;
  color: navy;
  font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-weight: bold;
}
#research .r_attachment .mini_btn {
  margin-left: 0.5em;
  padding: 0 0.5em;
  height: 16px;
  line-height: 16px;
}

#memo table .mine,
#memo table .delete {
  vertical-align: middle;
}
#memo table .mine_btn {
  background: #999;
  border: 1px solid #999;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
  color: #fff;
  font-size: 11px;
  line-height: 12px;
  height: auto;
  padding: 3px 0 3px;
  display: inline-block;
}
#memo table .mine_btn:hover {
  background: #f78000;
  border: 1px solid #f78000;
}
#memo table .delete_btn {
  width: 24px;
  height: 18px;
  border-radius: 3px;
  display: inline-block;
}
#memo table .delete_btn span {
  height: 16px;
  line-height: 16px;
  overflow: hidden;
}

/*ウォッチ----------------------*/
#watch .content_menu {
  width: 112px;
}
#watch .main_content {
  width: 630px;
}
#watch .user li {
  width: 100px;
  margin-right: 30px;
  font-size: 11px;
}
#watch .user li img {
  width: 100px;
  height: 100px;
}
#watch .user li .belong {
  margin-top: 0.3em;
  border-top: 1px solid #dcdcdc;
  padding: 0.3em 0 2em;
  display: block;
}
#watch .user li:nth-child(5n) {
  margin-right: 0;
}
#watch .type li a {
  letter-spacing: -0.1em;
}
#watch .edit_btn {
  width: 50px;
}

/*他のユーザー----------------------*/
.other {
  /*js*/
  /*js*/
}
.other table .col_btn {
  width: 7%;
}
.other .watch_btn {
  width: 100%;
  margin: 10px 0;
  display: block;
  font-size: 13px;
  height: 30px;
  line-height: 28px;
}
.other .watch_btn:hover {
  box-shadow: 0 0 3px #f78000;
}
.other .watch_btn_clicked {
  background: #ddd;
  border: 1px solid #ccc;
}
.other .watch_btn_clicked span {
  font-size: 15px;
  font-weight: bold;
  line-height: 12px;
  color: navy;
  font-family: Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}
.other .watch_btn_clicked:hover {
  background: #f78000;
  border: 1px solid #f78000;
  color: #fff;
}
.other .mini_btn_clicked {
  color: navy;
  background: #eee;
  border: 1px solid #ccc;
}
.other .mini_btn_clicked span {
  font-size: 15px;
  line-height: 17px;
  font-weight: bold;
}
.other .mini_btn_clicked:hover {
  color: #fff;
  background: #f78000;
  border: 1px solid #f78000;
}
.other .movie .mini_btn {
  width: 40px;
  border-radius: 3px 3px 0 0;
}
.other .user .mini_btn {
  width: 60px;
  border-radius: 3px 3px 0 0;
}
